* {
  -webkit-print-color-adjust: exact;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 10px;
}

.picture {
  border-radius: 20%;
  height: 150px;
}

.header-2,
.work,
.education,
.reference,
.training {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
}

.position {
  color: rgb(102, 103, 102);
}

.bio {
  font-size: 0.9rem;
}

.info {
  background-color: rgb(240, 240, 240);
  padding: 20px;
}

.info ul {
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.material-icons {
  margin-right: 5px;
  vertical-align: middle;
}

.expertise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.expertise {
  background-color: rgb(148, 223, 211);
  border-radius: 5px;
  padding: 5px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-title,
.company {
  font-size: 1.1rem;
}

.job-title {
  font-weight: bold;
}

.duration {
  color: rgb(102, 103, 102);
  font-size: 0.8rem;
  font-style: italic;
}

.projects {
  margin-left: 1.5em;
}

.works-list,
.references-list,
.trainings-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
